.PortfolioCard {
  max-width: 60%;
  margin: 20px 0;
}

.PortfolioCard--Flipped {
  align-self: flex-end;
}

.PortfolioCardBody--Flipped {
  flex-flow: row-reverse;
}

.PortfolioCardImage img {
  width: 200px;
}

.PortfolioCardContent {
  padding-left: 20px;
}

.PortfolioCardContent--Flipped {
  padding-left: 0;
  padding-right: 20px;
  text-align: right;
}

.PortfolioCardText {
  width: 500px;
}

.PortfolioCardText--Flipped {
  text-align: right;
}

.SkillsContainer {
  margin-top: 10px;
}

.SkillsTitle {
  margin-right: 5px;
}

.SkillsList {
  display: inline-block;
}
